{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tienda_zapatos</title>
    <link rel="icon" type="image/png" sizes="475x475" href="assets/img/logo tienda de zapatos.png">
    <link rel="icon" type="image/png" sizes="475x475" href="assets/img/logo tienda de zapatos.png">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}" crossorigin="use-credentials">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akshar&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Basic-icons.css' %}">
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-md py-3" id="navegador" style="background: #fcede4;color: var(--bs-body-bg);border-style: none;">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><img class="img-fluid" src="{% static 'assets/img/logo tienda de zapatos.png' %}" style="width: 60px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-center align-items-lg-center" id="navcol-3" style="width: auto;height: auto;text-align: center;">
                    <ul class="navbar-nav text-center d-lg-flex mx-auto justify-content-lg-center align-items-lg-center" style="padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
                        <li class="nav-item"><a class="nav-link active" href="/registro_ventas_1" style="width: auto;height: auto;margin-left: 25px;margin-right: 25px;text-align: center;">Vender</a></li>
                        <li class="nav-item"><a class="nav-link" href="/reporte_ventas" style="margin-right: 25px;margin-left: 25px;text-align: center;">Reportes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/comisiones" style="margin-right: 25px;margin-left: 25px;text-align: center;">Comisiones</a></li>
                        <form method="post">
                            {% csrf_token %} 
                            <button class="btn btn-primary" name="logout" type="submit" style="text-align: center;font-size: 20px;background: #19201E;border-style: none;margin-top: auto;">Cerrar sesión&nbsp;</button>
                        </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="d-lg-flex justify-content-lg-center align-items-lg-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center" style="margin-top: 50px;font-size: 25px;">Detalle venta #{{ id }}</h1>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col" style="border-style: solid;border-color: rgb(143,143,143);border-radius: 25px;">
                    <div class="table-responsive" style="margin-top: 10px;margin-left: 10px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Producto</th>
                                    <th class="text-center">Codigo</th>
                                    <th class="text-center">Precio</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-center">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in compras %}
                                <tr>
                                    <td class="text-center">{{ i.producto }}</td>
                                    <td class="text-center">{{ i.id }}</td>
                                    <td class="text-center">{{ i.precio }}</td>
                                    <td class="text-center">{{ i.cantidad }}</td>
                                    <td class="text-center">{{ i.total }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 0;margin-left: 0;">
        <div class="col">
            <h1 class="text-center" style="font-size: 25px;margin-top: 30px;">Total: $ {{ total }}</h1>
            <h1 class="text-center" style="font-size: 25px;margin-top: 30px;"><a class="btn btn-primary" role="button" style="text-align: center;font-size: 20px;background: #19201E;border-style: none;margin-top: auto;" href="/reporte_ventas">Regresar a reporte</a></h1>
            <div></div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>