{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tienda_zapatos</title>
    <link rel="icon" type="image/png" sizes="475x475" href="{% static 'assets/img/logo tienda de zapatos.png' %}">
    <link rel="icon" type="image/png" sizes="475x475" href="{% static 'assets/img/logo tienda de zapatos.png' %}">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akshar&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Basic-icons.css' %}">
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-md py-3" id="navegador" style="background: #fcede4;color: var(--bs-body-bg);border-style: none;">
            <div class="container"><a class="navbar-brand d-flex align-items-center" href="/dashboard"><img class="img-fluid" src="{% static 'assets/img/logo tienda de zapatos.png' %}" style="width: 60px;"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse d-lg-flex justify-content-lg-center align-items-lg-center" id="navcol-3" style="width: auto;height: auto;text-align: center;">
                    <ul class="navbar-nav text-center d-lg-flex mx-auto justify-content-lg-center align-items-lg-center" style="padding-right: 0px;padding-bottom: 0px;padding-left: 0px;">
                        <li class="nav-item"><a class="nav-link active" href="/registro_ventas_1" style="width: auto;height: auto;margin-left: 25px;margin-right: 25px;text-align: center;">Vender</a></li>
                        <li class="nav-item"><a class="nav-link" href="/reporte_ventas" style="margin-right: 25px;margin-left: 25px;text-align: center;">Reportes</a></li>
                        <li class="nav-item"><a class="nav-link" href="/comisiones" style="margin-right: 25px;margin-left: 25px;text-align: center;">Comisiones</a></li>
                        <form method="post">
                            {% csrf_token %} 
                            <button class="btn btn-primary" name="logout" type="submit" style="text-align: center;font-size: 20px;background: #19201E;border-style: none;margin-top: auto;">Cerrar sesión&nbsp;</button>
                        </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="d-lg-flex justify-content-lg-center align-items-lg-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center" style="margin-top: 50px;font-size: 25px;">Registro de Ventas</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 d-flex d-lg-flex justify-content-center align-items-end justify-content-lg-center align-items-lg-end" style="height: auto;width: auto;text-align: center;">
                    <h1 class="d-lg-flex justify-content-lg-center align-items-lg-center" style="font-size: 20px;">Producto</h1>
                </div>
                <div class="col d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-start align-items-lg-center" style="width: auto;height: auto;">
                    <form method="post" action="/agregar_producto">
                        {% csrf_token %}
                        <input class="d-lg-flex justify-content-lg-center align-items-lg-center" type="search" style="border-radius: 25px;margin-top: 40px;border: 2px solid rgb(143,143,143);text-align: center;width: 100%;" placeholder="Buscar producto" type="text" id="producto_id" name="producto_id">
                    </form>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col" style="border-style: solid;border-color: rgb(143,143,143);border-radius: 25px;">
                    <div class="table-responsive" style="margin-top: 10px;margin-left: 10px;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Producto</th>
                                    <th class="text-center">Codigo</th>
                                    <th class="text-center">Precio</th>
                                    <th class="text-center">Cantidad</th>
                                    <th class="text-center">Total</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in lista_productos %}
                                <tr>
                                    <td class="text-center">{{ i.0.nombre }}</td>
                                    <td class="text-center">{{ i.0.id }}</td>
                                    <td class="text-center">${{ i.0.precio }}</td>
                                    <td class="text-center">
                                        <form method="post" action="/cantidad_producto">
                                            {% csrf_token %}
                                            <input type="hidden" id="id" name="id" value={{ i.0.id }}>
                                            <input type="number" placeholder="0" id="cantidad" name="cantidad" value={{ i.1 }} style="text-align: center;" min="1"></td>
                                        </form>
                                    <td class="text-center">${{ i.2 }}</td>
                                    <td class="text-center">
                                        <form method="post" action="/borrar_producto">
                                            {% csrf_token %}
                                            <input type="hidden" id="id" name="id" value={{ i.0.id }}>
                                            <button class="btn btn-primary" value="test" type="submit" style="background: rgb(255,0,0);text-align: center;font-weight: bold;border-style: none;">Borrar</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 0;margin-left: 0;">
        <div class="col">
            <h1 class="text-center" style="font-size: 25px;margin-top: 30px;">Total: ${{ total }}</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;margin-right: 0;margin-left: 0;margin-bottom: 50px;">
        <div class="col d-flex d-lg-flex justify-content-end justify-content-lg-end align-items-lg-center"><button class="btn btn-primary d-lg-flex justify-content-lg-center" type="submit" style="font-size: 20px;border-style: none;background: red;">Limpiar</button></div>
        <div class="col d-flex d-lg-flex justify-content-start justify-content-lg-start align-items-lg-center"><a class="btn btn-primary d-lg-flex justify-content-lg-center" role="button" style="font-size: 20px;border-style: none;background: green;" href="/registro_ventas_2">Continuar</a></div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>